.rounded {
    border-radius: @rounded-border-1;
}

.rounded-top {
    border-top-left-radius: @rounded-border-1;
    border-top-right-radius: @rounded-border-1;
}

.rounded-right {
    border-top-right-radius: @rounded-border-1;
    border-bottom-right-radius: @rounded-border-1;
}

.rounded-bottom {
    border-bottom-right-radius: @rounded-border-1;
    border-bottom-left-radius: @rounded-border-1;
}

.rounded-left {
    border-top-left-radius: @rounded-border-1;
    border-bottom-left-radius: @rounded-border-1;
}

.rounded-circle {
    border-radius: 50%;
}

.rounded-0 {
    border-radius: 0;
}