<noscript>
    <style type="text/css">
        body {
            overflow: hidden;
        }
        
        .noscript-overlay {
            background-color: white;
            bottom: 0;
            left: 0;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2000;
        }
        
        .noscript-text {
            margin: 50px 50px;
        }
        
        .noscript-font {
            color: #333;
        }
    </style>
    <div class="noscript-overlay">
        <div class="noscript-text">
            <h1 class="noscript-font">
                This website requires JavaScript to display graphical content.
            </h1>
            <p class="noscript-font"> <strong>Please check your browser settings and turn on JavaScript.</strong> </p>
            <p class="noscript-font">If you can't find the setting, try searching with your browser name (Chrome, Firefox, etc.) and "turning on JavaScript".</p>
            <p class="noscript-font">We do not track you over the web whatsoever.</p>
        </div>
    </div>
</noscript>